<ion-header mode="collapse">
    <ion-toolbar>
        <ion-title>Войти</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content
        [fullscreen]="true"
        class="ion-padding">
    <div>

        <ion-input label="Номер телефона"
                   label-placement="floating"
                   fill="primary"
                   placeholder="+7-(999)-999-99-99"
                   helperText="Код придет на указанный телефон"
                   [formControl]="phoneForm"
                   [maskito]="phoneMask"
                   [maskitoElement]="maskPredicate"
        >
        </ion-input>

        <div class="ion-margin-top">
            <ion-button
                    (click)="getCode()"
                    *ngIf="phoneForm.valid"
                    expand="block">Войти</ion-button>
        </div>
    </div>

    <ion-modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Код был отправлен на номер {{phoneForm.value}}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="setIsOpen(false)">Close</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <ion-input label="Введите код"
                           label-placement="floating"
                           fill="primary"
                           placeholder=""
                           helperText="Код был отправлен вам на указанный номер телефона"
                           [formControl]="codeForm"
                           [maskito]="codeMask"
                           [maskitoElement]="maskPredicate"
                >
                </ion-input>

                <div class="ion-margin-top">
                    <ion-button
                            (click)="verifyCode()"
                            *ngIf="codeForm.valid"
                            expand="block">Отправить</ion-button>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>

    <ion-toast
            [isOpen]="openToast"
            message="{{activeToastData}}"
            [duration]="5000"
            (didDismiss)="openToast = false"
    ></ion-toast>
</ion-content>
