ion-card {
  width:100%;
  height:355px;
  margin: 0 !important;
  padding: 0 !important;
}

.card__image {
  object-fit: cover;
  height: 238px;
}

.price__container {
  display: flex;
  align-items: center;
  &__price {
    font-size: 14px;
    color: #0d0d0d;
  }
}

.card {
  &__header {
    color: #0d0d0d;
    font-size: 14px;
  }
  &__subheader {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  .card__header {
    color: #EAF6FF
  }
  .price__container__price {
    color: #EAF6FF
  }
}

.price__sale {
  text-decoration: line-through;
  padding: 0;
  margin: 0 0 0 3px;
}

ion-card-subtitle {
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

ion-card-header {
  padding-bottom: 20px;
}

ion-card-title {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

ion-card-header {
  padding-bottom: 2px;
}
.sizes__value {
  font-size: 10px;
  color: #6366f1
}
