<div class="ion-activatable ripple-parent rectangle">
  <ion-card
  >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-img
      class="card__image"
      alt="Silhouette of mountains" [src]="item.thumb"/>
    <ion-card-header>
      <ion-card-title>
        <div class="price__container">
          <span class="price__container__price">{{item.price}} р.</span>
          <ng-container *ngIf="item.previousPrice">
            <ion-text color="danger">
              <p class="price__sale">{{item.previousPrice}} р.</p>
            </ion-text>
          </ng-container>
        </div>

      </ion-card-title>
      <ion-card-subtitle><span class="card__header">{{item.title}}</span></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <h2 class="card__subheader">{{item.category}}</h2>
      </ion-text>
      <p class="sizes__value">
        <ion-text>
          <p>{{extractSizeValue(item.sizes)}}</p>
        </ion-text>
      </p>
    </ion-card-content>
  </ion-card>
</div>
