<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Каталог
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getClothing($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FIZZY</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="!loading">
      <ion-grid *ngIf="clothing.length">
        <ion-row>
          <ion-col *ngFor="let item of clothing" [size]="6">
            <card-catalogue [item]="item"></card-catalogue>
          </ion-col>
        </ion-row>
      </ion-grid>
     <div *ngIf="!clothing.length">Ничего не найдено</div>
    </ng-container>

    <ion-thumbnail *ngIf="loading" style="width: 100%">
      <div style="padding:10px">
        <ion-skeleton-text [animated]="true" style=" height: 20px; width: 20%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height: 20px; margin-top: 10px; width: 70%"></ion-skeleton-text>
      </div>
      <ion-grid *ngIf="clothing.length">
        <ion-row>
          <ion-col [size]="6" *ngFor="let i of [0,0,0,0]">
            <ion-skeleton-text [animated]="true"  style="height: 320px; width: 100%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-thumbnail>
  </div>
</ion-content>
