/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Manrope';    //This is what we are going to call
  src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
}

:root {
  --ion-default-font: "Manrope", sans-serif;
  --ion-font-family: var(--ion-default-font);
  --ion-color-primary: #6366f1;
  --ion-color-secondary: #d7dbd7;
  --ion-color-favorite: #5b5ed5;
  --highlight-color: #6366f1;
  --highlight-color-valid: var(--ion-color-success, #6366f1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #232528;
    --ion-text-color: #EAF6FF
  }
}

html.ios {
  --ion-default-font: -apple-system, BlinkMacSystemFont, "Manrope", sans-serif;
}

html.md {
  --ion-default-font: "Manrope", sans-serif;
}

html {
  --ion-font-family: var(--ion-default-font);
}
